script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
script src="/js.min.js"
== theme_js
== typekit_tag
javascript:
  var $holder = $('#holder')
  $holder.packery({
    itemSelector: '.item',
    gutter: ".gutter-sizer",
  });

  // var imgLoad = imagesLoaded( $('#holder') );
  // imgLoad.on( 'progress', function() {
  //   $holder.packery({
  //     itemSelector: '.item',
  //     gutter: ".gutter-sizer"
  //   });
  // });

  $holder.on( 'click', '.item', function() {
    $holder.packery( 'remove', this ).packery();
  });

  $(document).pjax('a', '.pjax');

  $(document).on('pjax:start', function() {
    $holder.packery( 'remove', $holder.packery('getItemElements') ).packery();
  })
  $(document).on('pjax:end', function() {
    $holder.packery('appended', $('.item') );
  });

- if code = setting_value("google_analytics_id")
  javascript:
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '#{code}', 'auto');
    ga('send', 'pageview');
