- error = @album.errors.key?(:title) && @album.errors[:title].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    ~f.text_area :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:release_date) && @album.errors[:release_date].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :release_date, :class => 'control-label'
  .controls
    =f.text_field :release_date, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:release_date, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:cover_url) && @album.errors[:cover_url].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :cover_url, :class => 'control-label'
  .controls
    ~f.text_area :cover_url, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:cover_url, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:label) && @album.errors[:label].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :label, :class => 'control-label'
  .controls
    ~f.text_area :label, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:label, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:type) && @album.errors[:type].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :type, :class => 'control-label'
  .controls
    ~f.text_area :type, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:type, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:bandcamp_url) && @album.errors[:bandcamp_url].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :bandcamp_url, :class => 'control-label'
  .controls
    ~f.text_area :bandcamp_url, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:bandcamp_url, :class => 'text-error') : pat(:example)
- error = @album.errors.key?(:bandcamp_id) && @album.errors[:bandcamp_id].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :bandcamp_id, :class => 'control-label'
  .controls
    ~f.text_area :bandcamp_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:bandcamp_id, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:albums, :index), :class => 'btn btn-default'