.item 
	width 100%

screen-sm-min = 750px
screen-md-min = 970px
screen-lg-min = 1170px

.gutter-sizer
	width 2%

/* Small devices (tablets, 768px and up) */
@media (min-width: screen-sm-min) 
	.item 
		width 49%


/* Medium devices (desktops, 992px and up) */
@media (min-width: screen-md-min) 
	.item 
		width 32%


/* Large devices (large desktops, 1200px and up) */
@media (min-width: screen-lg-min) 
	.item 
		width 23.5%
