form#imageUploadForm 
    input#imageBrowse name="image" type="file" label="image"
    input#imageButton name="upload" type="submit" value="Upload"
input#image type="text"
javascript:
    $('#imageUploadForm').submit(function(e) {
        e.preventDefault();

        var input = document.getElementById('imageUploadForm');
        data = new FormData(input);
        console.log(data);
        $.ajax({
            processData: false,
            contentType: false,
            type:'POST',
            url: 'https://api.imgur.com/3/image',
            headers: {
                'Authorization': 'Client-ID 38f7232651ea79a'
            },
            data: {
                "image": data
            },
            success:function(data){
                console.log("success");
                console.log(data);
                console.log(data.data.link);
                $("#image").val(data.data.link);
            },
            error: function(data){
                console.log("error");
                console.log(data);
            }
        });
    });