h3 = link_to artist.name, url_for(:artist, :index, :slug => artist.slug)
- if artist.image_url
	img.img-responsive src="#{artist.image_url}"
strong Real Name: 
= artist.real_name
.bio
	== Kramdown::Document.new(artist.bio).to_html