.bandcamp,
.video {
  display: inline-block;
  position: relative;
  width: 100%;
}
.bandcamp:after {
  margin-top: 100%;
}
.video:after {
  margin-top: 75%;
}
.bandcamp:after,
.video:after {
  content: ' ';
  display: block;
}
.bandcamp iframe,
.video iframe,
#galleria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-static-top {
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-brand img {
  max-width: 100px;
  max-height: 100px;
  margin-top: -40px;
}
.navbar-brand {
  margin-top: 0;
}
.name {
  display: inline-block;
}
.logo {
  display: inline-block;
}

.item {
  width: 100%;
}
.item.video {
  width: 100% !important;
}
.gutter-sizer {
  width: 2%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) {
  .item {
    width: 49%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) {
  .item {
    width: 32%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) {
  .item {
    width: 23.5%;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -250px;
}
#push {
  height: 250px;
}
#footer {
  margin-top: 100px;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 150px;
}
